* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #fff;
    font-family: "Nunito", "Helvetica", "Ubuntu", "Serif";
    overflow-x: hidden !important;
    height: 100%;
}

/* ------------------------ Loader ----------------------- */

.no-js #loader {
    display: none;
}
.js #loader {
    display: block;
    position: absolute;
    left: 100px;
    top: 0;
}
.se-pre-con {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: url(../img/loader.gif) center no-repeat #fff;
}

/*---------------------------- scroll bar ------------------------------*/

::-webkit-scrollbar {
    width: 7px;
    height: 7px;
}
::-webkit-scrollbar-button {
    width: 0px;
    height: 0px;
}
::-webkit-scrollbar-thumb {
    background: #eb004e;
    border: 0px none #ffffff;
    border-radius: 0px;
}
::-webkit-scrollbar-thumb:hover {
    background: #eb004e;
}
::-webkit-scrollbar-thumb:active {
    background: #eb004e;
}
::-webkit-scrollbar-track {
    background: #b5b5b5;
    border: 0px none #b5b5b5;
    border-radius: 50px;
}
::-webkit-scrollbar-track:hover {
    background: transparent;
}
::-webkit-scrollbar-track:active {
    background: transparent;
}
::-webkit-scrollbar-corner {
    background: transparent;
}

/* ----------------- Projects Section ----------------- */

.projects-section {
    margin: 0px 0px 30px 0px;
    position: relative;
}

.projects-text {
    padding: 5% 25%;
    text-align: center;
    color: #fff;
    background: url("../img/connect-1.png");
    background-size: cover;
    background-repeat: no-repeat;
}

.projects-text h1 {
    font-size: 30px;
    font-weight: 500;
}

.projects-text p {
    font-size: 17px;
    font-weight: 400;
    padding-top: 12px;
    padding-bottom: 15px;
}

.projects-content {
    padding: 0px 0px 40px 0;
}

.projects-content img {
    width: 100%;
}

.projects-content h3 {
    font-size: 20px;
    font-weight: 400;
    padding-top: 20px;
}

.projects-content p {
    font-size: 16px;
    font-weight: 400;
    padding-top: 12px;
    padding-bottom: 15px;
}

.projects-content a {
    font-size: 15px;
    font-weight: 400;
    border: 1px solid #eb004e;
    background: #eb004e;
    padding: 10px 25px 11px 25px;
    border-radius: 4px;
    color: #fff;
    text-decoration: none;
    transition: all ease-in-out 0.2s;
}

.projects-content a.details {
    border: 1px solid #eb004e;
    background-color: transparent;
    color: #eb004e;
}

.projects-content-text {
    padding: 90px 0 0 0;
}

.projects-content-text p {
    padding-right: 80px;
}

.all-projects {
    text-align: center;
    padding: 90px 0 0 0;
}

.all-projects a {
    font-size: 15px;
    padding: 11px 30px 12px 30px;
    border-radius: 5px;
    background-color: #eb004e;
    color: #fff;
}

/*---------------------- Footer ----------------------*/

footer {
    padding: 60px 20px 30px 20px;
}

footer h4 {
    text-align: center;
    font-size: 25px;
    font-weight: 500;
}

footer ul {
    list-style: none;
    text-align: center;
    margin-top: 15px;
}

footer ul li {
    display: inline;
}

footer ul li:nth-child(2),
footer ul li:nth-child(3),
footer ul li:nth-child(4) {
    padding-left: 20px;
}

footer ul li a {
    font-size: 14px;
    font-weight: 400;
    text-decoration: none !important;
    color: #474747;
}

footer ul li a:hover {
    color: #eb004e;
}

/* ----------------- Modals ----------------- */

#groceryModal .modal-content,
#bizflexModal .modal-content,
#confexpoModal .modal-content {
    border: none;
    box-shadow: 4px 4px 15px rgba(255, 255, 255, 0.2);
}

#groceryModal .modal-body,
#bizflexModal .modal-body,
#confexpoModal .modal-body {
    padding: 30px;
}

#groceryModal h5,
#bizflexModal h5,
#confexpoModal h5 {
    font-size: 25px;
    padding-bottom: 15px;
}

#groceryModal h6,
#bizflexModal h6,
#confexpoModal h6 {
    font-size: 17px;
    font-weight: 500;
    margin-top: 30px;
}

#groceryModal p,
#bizflexModal p,
#confexpoModal p {
    font-size: 15px;
    font-weight: 400;
}

#groceryModal ul,
#bizflexModal ul,
#confexpoModal ul {
    list-style: none;
    display: inline-block;
}

#groceryModal ul li,
#bizflexModal ul li,
#confexpoModal ul li {
    display: inline-block;
    padding-right: 15px;
    padding-top: 10px;
    font-size: 15px;
}

/* ----------------- Media Queries ----------------- */

@media (min-width: 1400px) {
    .portfolio-4 img {
        width: 2vw;
    }

    .portfolio-5 img {
        width: 2vw;
    }

    .projects-text h1 {
        font-size: 2.5vw !important;
    }

    .projects-content h3 {
        font-size: 1.7vw;
    }

    .projects-content p {
        font-size: 1.3vw;
    }

    .projects-content a {
        font-size: 1.2vw;
        padding: 0.8vw 2vw;
    }

    footer h4 {
        font-size: 1.9vw !important;
    }

    footer .social-links ul li a {
        font-size: 1.2vw;
    }
}

@media (max-width: 1200px) {
    .portfolio-4 img {
        width: 2vw;
    }

    .portfolio-5 img {
        width: 2vw;
    }

    .projects-text h1 {
        font-size: 2vw !important;
    }

    .projects-text p {
        font-size: 1.4vw !important;
    }

    .projects-content h3 {
        font-size: 1.9vw;
    }

    .projects-content p {
        font-size: 1.4vw;
    }

    .projects-content a {
        font-size: 1.3vw;
        padding: 1.2vw 3vw;
    }

    footer h4 {
        font-size: 1.7vw !important;
    }

    footer .social-links ul li a {
        font-size: 1.1vw;
    }
}

@media (max-width: 900px) {
    .projects-content .col-md-5 {
        max-width: 50%;
        flex: 0 0 50%;
    }

    .projects-content p {
        padding-right: 45px;
    }
}

@media (max-width: 767px) {
    .projects-text {
        padding: 5% 18%;
        line-height: 30px;
    }

    .projects-text h1 {
        font-size: 21px !important;
    }

    .projects-text p {
        font-size: 15px !important;
    }

    .projects-content .col-md-5 {
        max-width: 65%;
        flex: 0 0 65%;
    }

    .projects-content h3 {
        font-size: 19px !important;
        padding-left: 7%;
        padding-top: 8%;
    }

    .projects-content p {
        font-size: 15px !important;
        padding-left: 7%;
    }

    .projects-content a {
        font-size: 13px;
        margin-left: 7%;
    }

    footer h4 {
        font-size: 20px !important;
    }

    footer .social-links ul li a {
        font-size: 14px;
    }
}

@media (max-width: 600px) {
    .projects-content .col-md-5 {
        max-width: 75%;
        flex: 0 0 75%;
    }

    .portfolio-4 {
        top: 0%;
    }
}

@media (max-width: 550px) {
    .projects-text h1 {
        font-size: 20px !important;
    }

    .projects-text p {
        font-size: 14px !important;
    }

    footer h4 {
        font-size: 18px !important;
    }

    footer .social-links ul li a {
        font-size: 13px;
    }
}

@media (max-width: 450px) {
    .projects-text {
        padding: 5% 10%;
    }

    .projects-content .col-md-5 {
        max-width: 97%;
        flex: 0 0 97%;
    }

    .projects-content a {
        font-size: 12px;
        padding: 1.4vw 3.5vw;
    }

    footer h4 {
        font-size: 17px !important;
    }
}

/* ----------------------- Extra Media Queries ------------------- */

@media (width: 1024px) and (height: 1366px) {
    .projects-content .col-md-5 {
        max-width: 50%;
        flex: 0 0 50%;
    }
}
